@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root{
  --cor-primaria:rgba(240, 128, 128, 0.702);
  --cor-sercudaria:rgb(205, 166, 243);
  --cor-terciaria:gainsboro;
}

/*Corpo da Calculadora*/
body {
  background-color:var(--cor-primaria);
  padding:0;
  margin:0;
  height: 100%;
  font-size: 15px;
  font-family: Poppins, sans-serif;

}

/*Espaço contido da Calculadora*/
#container {
  height: 525px;
  width: 360px;
  margin: 100px auto; /*vertical e horizontal*/
  background:rgba(53, 8, 217, 0.239); 
  border-radius: 20px;
}

/*h1 - Calculadora de Gorjetas*/
.title {
  background: var(--cor-terciaria);
  color:var(--cor-sercudaria);
  padding: 20px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
  text-align: center;  
 
}

/*Section da Imagem*/
.tip {
  position: absolute;
  top: 120px;

 }

/*Imagem*/
.image {
  width:40px;
  height: 40px;
}

/*Formulário*/
.tipo {
  padding-left:20px;
  padding-right: 20px;

}

/*Inputs do formulário*/
.forminput {
  background: white;
  width: 40px;
  padding: 5px 5px 8px 8px; 
  border-radius: 5px;
}

/*Em foco - uso da pseudo-classe*/
.forminput:focus {
  border: 3px solid var(--cor-primaria);
  outline:none;
}

/*Escolha uma opção - Select*/
.formSelect {
  width: 180px;
  padding: 5px;
  font-size:12px;
  border-radius: 5px;
}

/*Em foco - uso da pseudo-classe*/
.formSelect:focus {
  border: 3px solid var(--cor-primaria);
  outline:none;
}

/*Botão Calcular*/
.formsubmit {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 25px auto;
  background-color: var(--cor-primaria);
  border-radius: 5px;
  width: 200px;
  height: 50px;
  font-size:17px;
  color:white;
  box-shadow: 1px 1px 1px var(--cor-primaria); 
  letter-spacing: 3px;
 
}

/*Gorjeta*/
#total {
  position: relative;
  bottom:10px;
  font-size: 20px;
  margin-top: 3px;
  margin-bottom: 25px;
  text-align: center;
  
}

/*Rodapé*/
.dev {

  background-color:var(--cor-terciaria) ;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 124px auto;
  position: absolute;
  top:460px;
  width: 360px; 

}

/*Rodapé - paragrafo*/
section > p {
  color: var(--cor-sercudaria);
  font-size:9px;
  text-align: center;
  padding: 5px;
 
}


